* {
  color: white;
  border: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  height: 120vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #937DC2;
}

.container__header {
  height: 200px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container__header__logo {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__header__menu {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-right: 20%;
}

.container__header__menu__list {
  list-style: none;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__header__menu__list__element {
  display: block;
  font-size: 2em;
}

.container__header__menu__list__element__link {
  text-decoration: none;
}

.container__header__paragraph {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5em;
}

.container__header__paragraph > span {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: center;
}

.container__wave {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  position: relative;
  background-color: #E8A0BF;
}

.container__content {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #E8A0BF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__content__holder {
  margin: 1em;
  position: relative;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  background-color: #FCC5C0;
}

.container__content__holder__frame {
  background-color: #E8A0BF;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 7%;
}

.container__content__holder__frame__image {
  border-radius: 50%;
  width: 110px;
  position: relative;
  left: 8%;
  top: 8%;
}

.container__content__holder__frame::before {
  position: absolute;
  top: -30%;
  content: '';
  width: 10px;
  height: 100px;
  background-color: #E8A0BF;
}

.container__content__holder__frame::after {
  position: absolute;
  bottom: -100%;
  right: -0.5%;
  content: '';
  width: 10px;
  height: 200px;
  background-color: #E8A0BF;
}

.container__content__holder__title {
  text-align: center;
  width: 10vw;
  position: absolute;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 55%;
  font-size: 1.1em;
}

.container__content__holder__author {
  text-align: center;
  width: 10vw;
  position: absolute;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 70%;
  font-size: 1.2em;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(144% + 1.3px);
  height: 200px;
}

.wave .shape-fill {
  fill: #937DC2;
}
/*# sourceMappingURL=index.css.map */